// breakpoints
$bp-sm: 576px;
$bp-ml: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
$bp-xxxl: 1650px;

// colors
$primary-color: #5730fd;
$primary-green-color: rgb(99, 164, 0);
$primary-green-transparent-color: rgba(98, 164, 0, 0.3);
$primary-yellow-transparent-color: rgba(246, 225, 0, 0.519);
$primary-blue-transparent-color: rgba(0, 123, 246, 0.3);
$primary-purple-transparent-color: rgba(115, 0, 246, 0.3);
$primary-pink-transparent-color: rgba(246, 0, 172, 0.3);
$alt-black-color: #4d4d4d;


// frühstück -> gelb
// dessert -> blau
// beilage -> grau

$star-rating-color: #FFD700;

$border-color: #dedede;

// fonts
$app-title-fs: 'Dancing Script', cursive;

// sizes
$test-var: 50px;
$bottom-navigation-height: 4.5rem;
$bottom-navigation-height-ios: 6.5rem;
$header-height-mobile: 2.5rem;
$header-height-desktop: 4rem;

// border-radius
$primary-br: .3rem;

// keyframes
$animation-fade-in-opacity: animation-fade-in-opacity;
@keyframes #{$animation-fade-in-opacity} {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
