@import "../../globals.scss";

.main-layout-container {
    &__content {
        margin-top: $header-height-mobile;
        margin-bottom: $bottom-navigation-height;
        background-color: red;

        @media (min-width: $bp-lg) {
            margin-top: $header-height-desktop;
            margin-bottom: 0;
        }
    }
}