@import "../../globals.scss";

.bottom-navigation-ctn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    height: $bottom-navigation-height;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    &__item {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem;
        border-radius: 50%;
        transition: background-color 0.3s, transform 0.3s, opacity 0.3s;

        &:hover {
            background-color: #555;
            transform: scale(1.1);
        }

        &.active {
            background-color: #ff5722;
        }
    }

}

.main-icon {
    font-size: 2rem;
}
