@import "../../globals.scss";

.dashboard-ctn-margin {
    margin-top: 1.5rem;
}

.dashboard-divider {
    height: 1px;
    background-color: $border-color;
    width: 95%;
    margin: 1.5rem auto;

    @media (min-width: $bp-lg) {
        width: 98%;
    }
}