.overlay {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    pointer-events: none;

    &.active {
        pointer-events: all;
        opacity: .3;
        background-color: black;
        animation: fadeInOverlay 0.2s ease forwards;
    }
}


@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}