@import "../../../globals.scss";

$fs-header: 1rem;
$fs-header-desktop: 1.2rem;
$fs-header-extra: .3rem;
$carusell-left-righ-padding: 1.5rem;

.dashboard {

    &__carousel__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: .3rem 1rem;
        user-select: none;
        align-items: flex-end;

        &__text {
            font-size: $fs-header + $fs-header-extra;
            font-weight: bold;
        }

        &__link {
            font-size: $fs-header;
            color: #0000FF;
            
            &:hover {
                cursor: pointer;
            }
        }

        &__nav-btn {
            display: flex;
            position: absolute;
            top: 2rem;
            bottom: -13rem;
            z-index: 1;
            width: 3rem;
            align-items: center;
            font-size: 3rem;
            color: #000;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                transform: scale(1.15);
                transition: transform .2s;
            }

            &.right {
                right: 0;
                border-radius: $primary-br 0 0 $primary-br;
            }
            
            &.left {
                left: 0;
                border-radius: 0 $primary-br $primary-br 0;
            }
        }
    }
    
    &__carousel-container {
        position: relative;
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        overflow-x: auto;
        user-select: none;
        padding-bottom: 1rem;
        scroll-behavior: smooth;

        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (min-width: $bp-lg) {
        &__carousel__header {
            &__text {
                font-size: $fs-header-desktop + $fs-header-extra;
            }
            &__link {
                font-size: $fs-header-desktop;
            }
            &__nav-btn {
                top: 2.5rem;
                bottom: -17.5rem;
            }
        }
    }
}