@import "../../../globals.scss";

$recipe-img-size: 10rem;

.recipe-list-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 0rem;
    padding: .4rem 1rem;
    background-color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    z-index: 5;
    user-select: none;

    &__refresh-btn {
        &:hover {
            cursor: pointer;
        }
    }

    @media (min-width: $bp-lg) {
        font-size: 1.5rem;
    }
}

.recipe-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 1rem;
    gap: 0rem 2rem;


    &__item {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 21rem;
        width: 100%;
        max-width: 18rem;
        border: 1px solid $border-color;
        border-radius: $primary-br;
        padding: .4rem 1rem;
        margin-top: 5rem;
        user-select: none;

        -webkit-box-shadow: 1px 1px 15px 3px #D0D0D0; 
        box-shadow: 1px 1px 15px 3px #D0D0D0;

        &:hover {
            cursor: pointer;
        }

        &__action-icons {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: .7rem;
            right: .8rem;
            font-size: 1.6rem;
            gap: .5rem;
            color: $alt-black-color;

            svg {
                padding: .1rem;
            }
        }

        &__image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 15rem;
            margin-bottom: 1rem;
        
            &__img {
                margin-top: -3rem;
                border-radius: 50%;
                width: $recipe-img-size;
                height: $recipe-img-size;
                border: 1px solid $border-color;
                margin-bottom: 1rem;

                -webkit-box-shadow: -2px 2px 15px 3px #d0d0d0;
                box-shadow: -2px 2px 15px 3px #d0d0d0;
            }

            &__title {
                all: unset;
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: .3rem;

                overflow: hidden;
                max-height: 3rem;
                line-height: 1.5rem;
            }

            &__subtitle {
                all: unset;
                font-size: .9rem;
                
                overflow: hidden;
                max-height: 2rem;
                line-height: 1rem;
                margin-bottom: .6rem;
            }

            &__tag-badges {
                padding: .3rem;
                width: 13rem;
                display: flex;
                gap: .4rem;
                overflow-y: auto;
                margin-bottom: .6rem;

                &::-webkit-scrollbar {
                    display: none;
                }

                &__category-badge {
                    font-weight: bold;

                    &.green {

                        background-color: $primary-green-transparent-color;
                    }
                    &.blue {
                        background-color: $primary-blue-transparent-color;
                    }
                    &.yellow {
                        background-color: $primary-yellow-transparent-color;
                    }
                    &.purple {
                        background-color: $primary-purple-transparent-color;
                    }
                    &.pink {
                        background-color: $primary-pink-transparent-color;
                    }
                }

                &__category-badge,
                &__badge {
                    font-size: .8rem;
                    border: 1px solid $border-color;
                    border-radius: $primary-br;
                    padding: .2rem .3rem;
                    white-space: nowrap;
                }
            }
        }

        &__info {
            color: $alt-black-color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .6rem 0 .3rem 0;
            gap: 1rem;

            &__item {
                display: flex;
                align-items: center;
            }
        }

        &__rating {
            font-size: 1.4rem;
            color: $star-rating-color;
            display: flex;
            justify-content: center;
        }

        &__label-veggy-vegan-icons {
            color: $primary-green-color;
            font-size: 2rem;
            position: absolute;
            top: .5rem;
            left: .9rem;

            &::after {
                content: "Vegan";
                position: absolute;
                top: 1.9rem;
                font-size: .8rem;
                text-align: center;
                font-weight: bold;
                left: -.35rem;
            }
        }
    }
}

.recipe-list-container__item-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}