@import "../../../globals.scss";

$recipe-img-size: 13rem;

.recipe-list-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 0rem;
    padding: .4rem 1rem;
    background-color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    z-index: 5;
}

.recipe-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 1rem;
    gap: 1rem 2rem;

    &__item {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        max-width: 21rem;
        border: 1px solid $border-color;
        border-radius: $primary-br;
        padding: .4rem 1rem;
        margin-top: 5.5rem;
        user-select: none;

        -webkit-box-shadow: 1px 1px 15px 3px #D0D0D0; 
        box-shadow: 1px 1px 15px 3px #D0D0D0;

        &:hover {
            cursor: pointer;
        }

        &__action-icons {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: .7rem;
            right: .8rem;
            font-size: 1.6rem;
            gap: .5rem;
            color: $alt-black-color;

            svg {
                padding: .1rem;
            }
        }

        &__image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        
            &__img {
                margin-top: -5rem;
                border-radius: 50%;
                width: $recipe-img-size;
                height: $recipe-img-size;
                border: 1px solid $border-color;
                margin-bottom: 1rem;
            }

            &__title {
                all: unset;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: .3rem;

                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }

            &__subtitle {
                all: unset;
                font-size: .7rem;
                
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }
        }

        &__label-veggy-vegan-icons {
            color: $primary-green-color;
            font-size: 2rem;
            position: absolute;
            top: .5rem;
            left: 1.5rem;

            &::after {
                content: "Vegan";
                position: absolute;
                top: 1.9rem;
                font-size: .8rem;
                text-align: center;
                font-weight: bold;
                left: -.35rem;
            }
        }
    }
}