@import "../../../globals.scss";

$recipe-caroussel-shadow-edges: 1.5rem;
$recipe-left-offset: .7rem;
$recipe-img-size: 6.5rem;
$recipe-img-size-lg: 9rem;

.recipe-container {
    position: relative;
    display: flex;
    margin-top: 2.4rem;
    border-radius: $primary-br;
    height: 9.4rem;
    min-width: 20rem;
    background-color: #fff;

    border: 1px solid $border-color;

    -webkit-box-shadow: 1px 3px 8px 2px #E9E9E9; 
    box-shadow: 1px 3px 8px 2px #E9E9E9;

    &:first-child {
        margin-left: $recipe-caroussel-shadow-edges;
    }

    &:last-child {
        margin-right: $recipe-caroussel-shadow-edges;
    }

    &:hover {
        cursor: pointer;
        // transform: scale(1.02);
        // transition: transform .2s;
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        margin-left: $recipe-left-offset - .2rem;

        &__img {
            margin-top: -2rem;
            border-radius: 50%;
            width: $recipe-img-size;
            height: $recipe-img-size;
            border: 1px solid $border-color;
        }

        &__category-badge {
            font-size: .55rem;
            font-weight: bold;
            border-radius: $primary-br;
            background-color: $primary-green-transparent-color;
            padding: .2rem .3rem;
        }
    }

    &__recipe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem .6rem .4rem .6rem;

        &__flex-column {
            display: flex;
            flex-direction: column;
        }

        &__title {
            all: unset;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .3rem;

            flex-direction: column;
            overflow: hidden;
            max-height: 2.4rem;
            line-height: 1.2rem;
        }

        &__subtitle {
            all: unset;
            font-size: .7rem;
            
            flex-direction: column;
            overflow: hidden;
            max-height: 1.6rem;
            line-height: .8rem;
        }

        &__rating {
            font-size: 1.2rem;
            color: $star-rating-color;
        }

        &__info {
            display: flex;
            color: $alt-black-color;
            align-items: center;
            font-size: .9rem;
            gap: .5rem;
            margin-bottom: .2rem;
            margin-top: .2rem;

            svg {
                margin-bottom: -.1rem;
            }
        }
    }

    &__label-veggy-vegan-icons {
        position: absolute;
        display: flex;
        right: .6rem;
        bottom: .6rem;
        gap: .3rem;
        font-size: 1.7rem;
        color: rgb(99, 164, 0);
    }

    &__action-icons {
        position: absolute;
        display: flex;
        bottom: .55rem;
        left: $recipe-left-offset;
        font-size: 1.5rem;
        width: 6rem;
        padding: .2rem .1rem;
        justify-content: space-around;
        z-index: 5;

        color: $alt-black-color;

        svg:hover {
            color: red;
        }

        svg:last-child:hover {
            color: $primary-green-color;
        }
    }

    @media (min-width: $bp-lg) {
        height: 13rem;
        min-width: 24.5rem;

        &__img-container {
            &__img {
                width: $recipe-img-size-lg;
                height: $recipe-img-size-lg;
            }

            &__category-badge {
                font-size: .8rem;
                border-radius: $primary-br;
                padding: .3rem .4rem;
        }
        }

        &__action-icons {
            gap: .7rem;
            left: 1.75rem;
            width: unset;
            font-size: 1.7rem;
        }

        &__recipe {
            &__title {
                font-size: 1.3rem;
                margin-bottom: .3rem;
    
                max-height: 4.5rem;
                line-height: 1.5rem;
            }

            &__subtitle {
                font-size: .9rem;
                
                max-height: 2rem;
                line-height: 1rem;
            }

            &__rating {
                font-size: 1.5rem;
            }

            &__info {
                font-size: 1.05rem;
                gap: .8rem;

                svg {
                    margin-bottom: -.1rem;
                }
            }
        }
    }
}
